In [1]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

In [116]:
#Import the file from the html site
df = pd.read_html("https://www.seechicagorealestate.com/chicago-zip-codes-by-neighborhood.php")[0]

In [117]:
#Add new columns
df['Latitude'] = ''
df['Longitude'] = ''

#Add headers
my_columns = ["Neighborhood", "Zip", "Latitude", "Longitude"]
df.columns = my_columns

df.head()

         Neighborhood           Zip Latitude Longitude
0            Downtown      Zip Code
1  Cathedral District         60611
2     Central Station         60605
3       Dearborn Park         60605
4          Gold Coast  60610, 60611

In [118]:
#Drop areas outside of Chicago - all zips after North Shore
NorthShoreIndex = df[df['Neighborhood']=='North Shore'].index.item()
df = df[:NorthShoreIndex]

#Drop all nan rows
df = df.dropna()

df.head(30)

,Neighborhood,Zip,Latitude,Longitude
0,Downtown,Zip Code,,
1,Cathedral District,60611,,
2,Central Station,60605,,
3,Dearborn Park,60605,,
4,Gold Coast,"60610, 60611",,
5,Loop,"60601, 60602, 60603, 60604, 60605, 60606, 6060...",,
6,Magnificent Mile,60611,,
7,Museum Campus,60605,,
8,Near North Side,"60610, 60611, 60642, 60654",,
9,Near West Side,"60606, 60607, 60608, 60610, 60612, 60661",,
10,New East Side,60601,,
11,Noble Square,60622,,
12,Old Town,60610,,
13,Printers Row,60605,,
14,Randolph Market,"60607, 60661",,
15,River East,60611,,
16,River North,"60611, 60654",,
17,River West,"60622, 60610",,
18,South Loop,"60605, 60607, 60608, 60616",,
19,Streeterville,60611,,
20,Tri-Taylor,60612,,
21,Ukrainian Village,"60612, 60622",,
22,West Loop,60607,,
23,West Town,"60612, 60622, 60642, 60647",,
24,Wicker Park,60622,,
26,North Side,Zip Code,,
27,Alta Vista Terrace,60613,,
28,Belmont Harbor,60657,,
29,Boys Town,"60613, 60657",,
30,Bucktown,"60614, 60622, 60647",,

In [119]:
#Drop rows that are category group headers
df = df[~df['Zip'].isin(['Zip Code'])]
df.reset_index(drop=True, inplace=True)

df.head(30)

,Neighborhood,Zip,Latitude,Longitude
0,Cathedral District,60611,,
1,Central Station,60605,,
2,Dearborn Park,60605,,
3,Gold Coast,"60610, 60611",,
4,Loop,"60601, 60602, 60603, 60604, 60605, 60606, 6060...",,
5,Magnificent Mile,60611,,
6,Museum Campus,60605,,
7,Near North Side,"60610, 60611, 60642, 60654",,
8,Near West Side,"60606, 60607, 60608, 60610, 60612, 60661",,
9,New East Side,60601,,
10,Noble Square,60622,,
11,Old Town,60610,,
12,Printers Row,60605,,
13,Randolph Market,"60607, 60661",,
14,River East,60611,,
15,River North,"60611, 60654",,
16,River West,"60622, 60610",,
17,South Loop,"60605, 60607, 60608, 60616",,
18,Streeterville,60611,,
19,Tri-Taylor,60612,,
20,Ukrainian Village,"60612, 60622",,
21,West Loop,60607,,
22,West Town,"60612, 60622, 60642, 60647",,
23,Wicker Park,60622,,
24,Alta Vista Terrace,60613,,
25,Belmont Harbor,60657,,
26,Boys Town,"60613, 60657",,
27,Bucktown,"60614, 60622, 60647",,
28,DePaul,60614,,
29,Lakeview,"60613, 60657",,

In [103]:
import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

In [135]:
#Loop through df and set latitude and longitude
geolocator = Nominatim(user_agent="chicago_zips")
for index, row in df.iterrows():
    zips = df.loc[index,'Zip']
    zipList = zips.split(", ")
    #print(zipList)
    
    latitudeTotal = 0
    longitudeTotal = 0
    counter = 0
    for neighborhoodZip in zipList:
        #print(neighborhoodZip)
        zip = '60605'

        location = geolocator.geocode(neighborhoodZip)
        latitude = location.latitude
        longitude = location.longitude
        #print('The geograpical coordinate of {} are {}, {}.'.format(df.loc[index,'Neighborhood'],latitude, longitude))

        counter = counter + 1
        latitudeTotal = latitudeTotal + latitude
        longitudeTotal = longitudeTotal + longitude
    latitudeTotal = latitudeTotal / counter
    longitudeTotal = longitudeTotal / counter
    
    #Set the latitude and longitude in the df
    df.loc[index,'Latitude'] = latitudeTotal
    df.loc[index,'Longitude'] = longitudeTotal
    
df.head()

The geograpical coordinate of Cathedral District are 41.9013755, -87.623854.
The geograpical coordinate of Central Station are 41.8659973, -87.6081513.
The geograpical coordinate of Dearborn Park are 41.8659973, -87.6081513.
The geograpical coordinate of Gold Coast are 41.9038725257493, -87.6385957471562.
The geograpical coordinate of Gold Coast are 41.9013755, -87.623854.
The geograpical coordinate of Loop are 9.42030540980843, -84.1550425023166.
The geograpical coordinate of Loop are 41.8828718344361, -87.6291188024761.
The geograpical coordinate of Loop are 41.8811082918444, -87.6283114289812.
The geograpical coordinate of Loop are 41.8784178587146, -87.627759574011.
The geograpical coordinate of Loop are 41.8659973, -87.6081513.
The geograpical coordinate of Loop are 41.8828394635735, -87.6365272935001.
The geograpical coordinate of Loop are 41.8780630922049, -87.6515362099198.
The geograpical coordinate of Loop are 41.847864064102, -87.6306229996288.
The geograpical coordinate of Magnificent Mile are 41.9013755, -87.623854.
The geograpical coordinate of Museum Campus are 41.8659973, -87.6081513.
The geograpical coordinate of Near North Side are 41.9038725257493, -87.6385957471562.
The geograpical coordinate of Near North Side are 41.9013755, -87.623854.
The geograpical coordinate of Near North Side are 41.9018111318202, -87.6546543768082.
The geograpical coordinate of Near North Side are 41.8912484389923, -87.6324757450044.
The geograpical coordinate of Near West Side are 41.8828394635735, -87.6365272935001.
The geograpical coordinate of Near West Side are 41.8780630922049, -87.6515362099198.
The geograpical coordinate of Near West Side are 41.8514665299957, -87.6675284499638.
The geograpical coordinate of Near West Side are 41.9038725257493, -87.6385957471562.
The geograpical coordinate of Near West Side are 41.8809834651942, -87.6845569114687.
The geograpical coordinate of Near West Side are 41.8841997281484, -87.6457481268324.
The geograpical coordinate of New East Side are 9.42030540980843, -84.1550425023166.
The geograpical coordinate of Noble Square are 41.9014818, -87.6625716.
The geograpical coordinate of Old Town are 41.9038725257493, -87.6385957471562.
The geograpical coordinate of Printers Row are 41.8659973, -87.6081513.
The geograpical coordinate of Randolph Market are 41.8780630922049, -87.6515362099198.
The geograpical coordinate of Randolph Market are 41.8841997281484, -87.6457481268324.
The geograpical coordinate of River East are 41.9013755, -87.623854.
The geograpical coordinate of River North are 41.9013755, -87.623854.
The geograpical coordinate of River North are 41.8912484389923, -87.6324757450044.
The geograpical coordinate of River West are 41.9014818, -87.6625716.
The geograpical coordinate of River West are 41.9038725257493, -87.6385957471562.
The geograpical coordinate of South Loop are 41.8659973, -87.6081513.
The geograpical coordinate of South Loop are 41.8780630922049, -87.6515362099198.
The geograpical coordinate of South Loop are 41.8514665299957, -87.6675284499638.
The geograpical coordinate of South Loop are 41.847864064102, -87.6306229996288.
The geograpical coordinate of Streeterville are 41.9013755, -87.623854.
The geograpical coordinate of Tri-Taylor are 41.8809834651942, -87.6845569114687.
The geograpical coordinate of Ukrainian Village are 41.8809834651942, -87.6845569114687.
The geograpical coordinate of Ukrainian Village are 41.9014818, -87.6625716.
The geograpical coordinate of West Loop are 41.8780630922049, -87.6515362099198.
The geograpical coordinate of West Town are 41.8809834651942, -87.6845569114687.
The geograpical coordinate of West Town are 41.9014818, -87.6625716.
The geograpical coordinate of West Town are 41.9018111318202, -87.6546543768082.
The geograpical coordinate of West Town are 41.9175788278508, -87.699474618957.
The geograpical coordinate of Wicker Park are 41.9014818, -87.6625716.
The geograpical coordinate of Alta Vista Terrace are 41.9506722245407, -87.660486483512.
The geograpical coordinate of Belmont Harbor are 41.9386494982754, -87.6582750756097.
The geograpical coordinate of Boys Town are 41.9506722245407, -87.660486483512.
The geograpical coordinate of Boys Town are 41.9386494982754, -87.6582750756097.
The geograpical coordinate of Bucktown are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Bucktown are 41.9014818, -87.6625716.
The geograpical coordinate of Bucktown are 41.9175788278508, -87.699474618957.
The geograpical coordinate of DePaul are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Lakeview are 41.9506722245407, -87.660486483512.
The geograpical coordinate of Lakeview are 41.9386494982754, -87.6582750756097.
The geograpical coordinate of Lakeview Central are 41.9386494982754, -87.6582750756097.
The geograpical coordinate of Lakeview East are 41.9506722245407, -87.660486483512.
The geograpical coordinate of Lakeview East are 41.9386494982754, -87.6582750756097.
The geograpical coordinate of Lincoln Park are 41.9038725257493, -87.6385957471562.
The geograpical coordinate of Lincoln Park are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Lincoln Square are 41.9572451683369, -87.6986414538188.
The geograpical coordinate of North Center are 41.9506722245407, -87.660486483512.
The geograpical coordinate of North Center are 41.9615612, -87.6980295.
The geograpical coordinate of North Halsted are 41.9506722245407, -87.660486483512.
The geograpical coordinate of North Halsted are 41.9386494982754, -87.6582750756097.
The geograpical coordinate of Old Town Triangle are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Park West are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Ranch Triangle are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Roscoe Village are 41.9615612, -87.6980295.
The geograpical coordinate of Roscoe Village are 41.9386494982754, -87.6582750756097.
The geograpical coordinate of Sheffield are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Uptown are 41.9702281222837, -87.6652547123964.
The geograpical coordinate of West DePaul are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Wrightwood Neighbors are 41.9214998105743, -87.6499919631815.
The geograpical coordinate of Wrigleyville are 41.9506722245407, -87.660486483512.
The geograpical coordinate of Andersonville are 41.9702281222837, -87.6652547123964.
The geograpical coordinate of Budlong Woods are 41.9572451683369, -87.6986414538188.
The geograpical coordinate of Buena Park are 41.9506722245407, -87.660486483512.
The geograpical coordinate of Buena Park are 41.9702281222837, -87.6652547123964.
The geograpical coordinate of East Ravenswood are 41.9506722245407, -87.660486483512.
The geograpical coordinate of East Ravenswood are 41.9702281222837, -87.6652547123964.
The geograpical coordinate of Edgewater are 41.9702281222837, -87.6652547123964.
The geograpical coordinate of Edgewater are 41.990775160219, -87.6666072473451.
The geograpical coordinate of Edgewater Glen are 41.9702281222837, -87.6652547123964.
The geograpical coordinate of Edgewater Glen are 41.990775160219, -87.6666072473451.
The geograpical coordinate of Edison Park are 41.9401386, -87.8360625.
The geograpical coordinate of Middle Edgebrook are 41.9645518158975, -87.7628211026851.
The geograpical coordinate of Middle Edgebrook are 41.9873170779314, -87.7576725336143.
The geograpical coordinate of North Edgebrook are 41.9645518158975, -87.7628211026851.
The geograpical coordinate of North Edgebrook are 41.9873170779314, -87.7576725336143.
The geograpical coordinate of Old Irving Park are 41.94363124336, -87.7418486481351.
The geograpical coordinate of Peterson Park are 41.9833176972705, -87.7073666617667.
The geograpical coordinate of Ravenswood are 41.9506722245407, -87.660486483512.
The geograpical coordinate of Ravenswood are 41.9572451683369, -87.6986414538188.
The geograpical coordinate of Ravenswood are 41.9702281222837, -87.6652547123964.
The geograpical coordinate of West Ridge are 41.9915936429211, -87.6947179188896.
The geograpical coordinate of West Ridge are 41.9833176972705, -87.7073666617667.
The geograpical coordinate of West Rogers Park are 41.9915936429211, -87.6947179188896.
The geograpical coordinate of West Rogers Park are 41.9833176972705, -87.7073666617667.
The geograpical coordinate of West Rogers Park are 41.990775160219, -87.6666072473451.
The geograpical coordinate of Albany Park are 41.9572451683369, -87.6986414538188.
The geograpical coordinate of Avondale are 41.9615612, -87.6980295.
The geograpical coordinate of Belmont Gardens are 41.9194340216904, -87.7497838985468.
The geograpical coordinate of Belmont Gardens are 41.94363124336, -87.7418486481351.
The geograpical coordinate of Forest Glen are 41.9645518158975, -87.7628211026851.
The geograpical coordinate of Irving Park are 41.9615612, -87.6980295.
The geograpical coordinate of Jefferson Park are 41.9645518158975, -87.7628211026851.
The geograpical coordinate of Mayfair are 41.9645518158975, -87.7628211026851.
The geograpical coordinate of North Park are 41.9572451683369, -87.6986414538188.
The geograpical coordinate of Norwood Park are 41.9401386, -87.8360625.
The geograpical coordinate of Old Edgebrook are 41.9873170779314, -87.7576725336143.
The geograpical coordinate of Old Norwood Park are 41.9401386, -87.8360625.
The geograpical coordinate of Portage Park are 41.9435926563801, -87.793728919948.
The geograpical coordinate of Portage Park are 41.94363124336, -87.7418486481351.
The geograpical coordinate of Ravenswood Manor are 41.9572451683369, -87.6986414538188.
The geograpical coordinate of Sauganash are 41.9645518158975, -87.7628211026851.
The geograpical coordinate of Sauganash are 41.9873170779314, -87.7576725336143.
The geograpical coordinate of Sauganash Woods are 41.9645518158975, -87.7628211026851.
The geograpical coordinate of Schorsch Forest View are 41.9754632052473, -87.8172751109234.
The geograpical coordinate of South Edgebrook are 41.9873170779314, -87.7576725336143.
The geograpical coordinate of Union Ridge are 41.9754632052473, -87.8172751109234.

,Neighborhood,Zip,Latitude,Longitude
0,Cathedral District,60611,41.9014,-87.6239
1,Central Station,60605,41.866,-87.6082
2,Dearborn Park,60605,41.866,-87.6082
3,Gold Coast,"60610, 60611",41.9026,-87.6312
4,Loop,"60601, 60602, 60603, 60604, 60605, 60606, 6060...",37.8172,-87.1959

In [120]:
df.shape

(77, 4)

In [319]:
#Import the file from the html site
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M",header=0)[0]

#Remove rows that are not assigned
df = df[df.Borough != 'Not assigned']

#Find Duplicated rows
df_non_dups = df.drop_duplicates(['Postcode','Borough'], keep=False)
df_dups = df[df.duplicated(['Postcode','Borough'], keep=False)]

#Create blank dataframe to store de-duped values
df_dedup = pd.DataFrame(columns=['Postcode','Borough','Neighbourhood'])

#Get values of first row in dups
updateIndex = df_dups.index[0]
currentPostcode = df_dups.iloc[0,0]
currentBorough = df_dups.iloc[0,1]
updateNeighborhood = ''
concatString = ''

#Loop through the dups and create update dataframe with concatinated names
for index, row in df_dups.iterrows():
  if row['Postcode'] == currentPostcode:
    updateNeighborhood = updateNeighborhood + concatString + row['Neighbourhood'] 
    concatString = ', '
  else:  
    df_dedup.loc[updateIndex] = np.array([currentPostcode, currentBorough, updateNeighborhood])
    
    updateIndex = index
    currentPostcode = row['Postcode']
    currentBorough = row['Borough']
    updateNeighborhood = row['Neighbourhood'] 

#Add the last row
df_dedup.loc[updateIndex] = np.array([currentPostcode, currentBorough, updateNeighborhood])


#Combine data frames to get full list
df_non_dups = df_non_dups.append(df_dedup)

#Update Neighbourhoods that are not assigned
df_non_dups.Neighbourhood.replace('Not assigned',df_non_dups.Borough,inplace=True)


df_non_dups.shape

df_non_dups.head()

   Postcode       Borough     Neighbourhood
2       M3A    North York         Parkwoods
3       M4A    North York  Victoria Village
8       M7A  Queen's Park      Queen's Park
10      M9A     Etobicoke  Islington Avenue
14      M3B    North York   Don Mills North

In [338]:
#Get the latitude and longitude table
df = pd.read_csv("http://cocl.us/Geospatial_data")

#Update the index
df = df.rename(columns={'Postal Code': 'Postcode'})
df.set_index('Postcode', inplace = True)

df.head()

           Latitude  Longitude
Postcode
M1B       43.806686 -79.194353
M1C       43.784535 -79.160497
M1E       43.763573 -79.188711
M1G       43.770992 -79.216917
M1H       43.773136 -79.239476

In [347]:
#Assign df2 to existing df_non_dups
df2 = df_non_dups

#Add new columns
df2['Latitude'] = ''
df2['Longitude'] = ''

#Set the latitude and longitude
for index, row in df2.iterrows():
  df2.loc[index].Latitude = df.loc[row['Postcode']].Latitude
  df2.loc[index].Longitude = df.loc[row['Postcode']].Longitude

df2.head()

   Postcode       Borough     Neighbourhood Latitude Longitude
2       M3A    North York         Parkwoods  43.7533  -79.3297
3       M4A    North York  Victoria Village  43.7259  -79.3156
8       M7A  Queen's Park      Queen's Park  43.6623  -79.3895
10      M9A     Etobicoke  Islington Avenue  43.6679  -79.5322
14      M3B    North York   Don Mills North  43.7459  -79.3522

## Explore Dataset

In [350]:
!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

Solving environment: done

## Package Plan ##

  environment location: /Users/coxda/anaconda3

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-2.2.2               |        py36_1001         493 KB  conda-forge
    branca-0.3.0               |             py_0          24 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    conda-4.5.11               |        py36_1000         651 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.2 MB

The following NEW packages will be INSTALLED:

    altair:  2.2.2-py36_1001 conda-forge
    branca:  0.3.0-py_0      conda-forge
    folium:  0.5.0-py_0      conda-forge
    vincent: 0.4.4-py_1      conda-forge

The following packages will be UPDATED:

    conda:   4.5.8-py36_1    conda-forge --> 4.5.11-py36_1000 conda-forge


Downloading and Extracting Packages
altair-2.2.2         |  493 KB | ####################################### | 100%
branca-0.3.0         |   24 KB | ####################################### | 100%
folium-0.5.0         |   45 KB | ####################################### | 100%
vincent-0.4.4        |   28 KB | ####################################### | 100%
conda-4.5.11         |  651 KB | ####################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

ImportError: No module named 'folium'

In [353]:
!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Solving environment: done

# All requested packages already installed.

ImportError: No module named 'geopy'

In [352]:
address = 'Toronto, CA'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

NameError: name 'Nominatim' is not defined

In [348]:
# create map of New York using latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(df2['Latitude'], df2['Longitude'], df2['Borough'], df2['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_newyork)  
    
map_toronto

NameError: name 'folium' is not defined